.page{
  padding: 0 20px;
}
.headings {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainhead {
  font-weight: 700;
  text-align:center ;
  font-size: 2.2rem;
}
.subhead {
  /* margin: 1rem; */
  color: var(--c3);
  /* margin-top: 3rem; */
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
}

@media screen and (max-width: 768px) {
  .page{
      padding: 0 20px;
  }
  .mainhead {
      font-size: 2rem;
  }
}


/* HERE EVENT */
.upcomingEvents{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
}

.upcomingEventItem{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 40px 0;
  /* border: 1px solid whitesmoke; */
}

.upcomingEvents > .upcomingEventItem:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.upcomingEvents > .upcomingEventItem:nth-child(even) .upcomingEventItemContent {
  padding-left: 0;
  padding-right: 50px;
}

.upcomingEventItem img{
  height: 400px;
  border-radius: 15px;
}

.upcomingEventItemContent{
  padding: 0 50px;
}

.upcomingEventItemSubTitle{
  font-size: 1.2rem;
  font-weight: bold;
}

.upcomingEventItemSubTitle span{
  font-size: 1.5rem;
  color: #5BDAED;
  padding-right: 10px;
}

.upcomingEventItemTitle{
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: bolder;
  margin: 10px 0;
}

.upcomingEventItemDesc{
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 10px 0;
}

.upcomingEventItemBtn{
  color: #fff;
  font-size: 1.2rem;
}


.noUpcomingEventMessage {
  position: relative; /* Positioning context for the pseudo-element */
  padding: 10px 20px; /* Add padding for spacing */
  border-radius: 8px; /* Rounded corners */
  background: linear-gradient(to bottom right, #6666ff 0%, #cc66ff 100%);

  font-size: 1.2rem; /* Slightly larger font size */

}

