.container {
    width: 100%;
    height: 400px;
    background: url("/py5.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: exclusion;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .hexImg {
    padding: 0 300px;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    position: relative;
}
.con h1 {
    font-size: 3rem;
    color: #fff;
    padding-bottom: 0px;
}

.arrow{
    width: 15px;
    height: 15px;
}

.breadcrumb {
    display: flex;
    /* padding-top: 5px; */
    align-items: center;
    gap: 15px;
    color: #fff;
    font-size: 1.25rem;
}
@media screen and (max-width: 768px) {
    .container {
        height: 300px;
    }
    .container .hexImg {
        padding: 0 10px; 
        margin-top: 50px;
        
    }

    .con {
        padding: 20px 0 0;
    }
    .con h1 {
        font-size: 2.5rem;
    }
    .breadcrumb {
        gap: 7px;
        font-size: 1rem;
    }
    .arrow{
        width: 13px;
        height: 13px;
    }
}
