.card{
    /* border: white 1px  solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    
}
.info{
    width: 250px;
    text-align: center;
    padding: 22px 0;
}
.info .heading{
    font-size: 1.125rem;
    font-weight: 800;
}

.info .postion{
    font-size: 0.9rem;
    font-weight: 400;
}