@font-face {
    font-family: "Flaticon";
    src: url("/fonts/Flaticon.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  .flaticon {
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
  }
  
  .flaticon-right-arrow::before {
    content: "\f12a"; /* Replace this with the actual Unicode of the icon */
  }
  