:root {
  --primary: #10151D;
  --secondary: #E3E3E3;
  --accent: #b895fd;

  --c1: #ff6849;
  --c2: #ffaf00;

  --g1: #ffb808;
  --g2: #14b25f;
  --g3: #f74037;
  --g4: #4a90f4;
  

  --f1: 1rem;
  --f2: 1.2rem;
  --f3: 1.5rem;
}


html,
body {
  max-width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;
}

body {
  color: var(--secondary);
  background: radial-gradient(500px 300px at 50% 0%,#131f33 20%,#131e3100), var(--primary) ;
  /* background-image: ; */
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
