.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 60px;
    z-index: 10;
    position: relative;
    top: 0;

}

.logo{
    display: flex;
    gap: 20px;
}
.logo img{
    width: 75px;
}