.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 60px;
    z-index: 10;
    position: absolute;
    /* border-bottom: 0.006px solid #9874F5; */
}

.logo{
    display: flex;
    gap: 20px;
}
.logo img{
    width: 75px;
}